<!DOCTYPE html>
<html>
  <head>
    <title>Pv</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <header>
  
<%= render "layouts/nav" %>
  </header>
    <!-- Page Content -->
  <div class="container">
    <div class="row">
    <div class="col-lg-2">

    </div>
      <div class="col-lg-8 text-center pt-5">
       
         <%= yield %>
      </div>
      <div class="col-lg-2">
    
    </div>
    </div>
  </div>
  </body>
</html>
